extends ../layouts/nav-bar.pug

block content
  .container
    h2 Đăng nhập
    if errors
      each error in errors  
        .alert.alert-danger=error
        
    form(action="/auth/login" method="POST")
      .form-group
        label(for='email') Email address
        input#email.form-control(type='email', name="email", placeholder='Enter email')
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
      .form-group
        label(for='password') Password
        input#password.form-control(type='password' name="password" placeholder='Password')
      button.btn.btn-outline-success(type='submit') Đăng nhập
