extends ../layouts/nav-bar.pug

block content

  .container
    form(action="/profile/avatar" method="POST" enctype="multipart/form-data")
      .form-group
        label(for="name") Change your name
        input#name.form-control(type="text", name="name" )
      .form-group
        label(for="email") Change your email
        input#email.form-control(type="text", name="email")
      .form-group
        label(for="avatar") Update your avatar
        input#avatar.form-control-file(type="file", name="avatar")
      button(type="submit").btn.btn-outline-success Update
        
