extends ../layouts/nav-bar.pug

block content
  .container-fluid
    h2 Đăng nhập
    form(action="/users/login" method="POST")
      .form-group
        label(for="email") Nhập email
        br
        input(type="email", name="email" id="email" )
      .form-group
        label(for="password") Nhập password
        br
        input(type="password" name="password" id="password" )

      button.btn.btn-outline-success(type="submit") Đăng nhập