extends ../layouts/nav-bar.pug

block content

  h2 Đăng nhập
  a.btn.btn-success(href="/users/login") Đăng nhập
  br
  
  if errors
    each error in errors  
      .alert.alert-danger=error

  ul
    each user in users
      li
        span=user.name
        a(href="/users/"+user.userId+"/update") Sửa
        a(href="/users/"+user.userId+"/delete") Xóa
  

