extends ../layouts/nav-bar.pug

block content
  ul
    each user in users
      li
        span=user.name
        a(href="/users/"+user.userId+"/update") Sửa
        a(href="/users/"+user.userId+"/delete") Xóa