extends ../layouts/nav-bar.pug

block content
  if errors
    each error in errors  
      .alert.alert-danger=error

  h2 Tạo transaction mới
  a.btn.btn-success(href="/transactions/create") Tạo transactions
  ul
  each transaction in transactions
    li
      span=transaction.transId
      a(href="/transactions/"+ transaction.transId +"/complete") Hoàn thành